<section class="header">

    {{partial:navigation}}
    <div class="header-content">
    <div class="heading">
        <h2>
            {{heading | markdown}}
        </h2>
        <a href="#" class="button">{{button_text}}</a>
    </div>
    <img src="{{ family_image }}" alt="" width="467px">
    </div>
</section>
<section class="connect">
    <div class="social">
        <h3>Connect with the Hernandez family on social media:</h3>
        <ul>
            <li><a href="#" title="Facebook"><img src="http://placehold.it/30x30" alt=""></a></li>
            <li><a href="#" title="Instagram"><img src="http://placehold.it/30x30" alt=""></a></li>
            <li><a href="#" title="Youtube"><img src="http://placehold.it/30x30" alt=""></a></li>
            <li><a href="#" title="Twitter"><img src="http://placehold.it/30x30" alt=""></a></li>
        </ul>
    </div>
    <div class="quick-links">
        <a href="#"><img src="http://placehold.it/60x60" alt=""> <br><span>Watch Our Intro Video</span></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""> <br><span>Learn About Thailand</span></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""> <br><span>Plan A Missions Trip</span></a>
        <a href="#"><img src="http://placehold.it/60x60" alt=""> <br><span>Donate to Our Ministry</span></a>
    </div>
</section>



